.admindash{
    width:100%;
    min-height:100vh;
    background-color: #fff;
    padding:0;
    margin:0;
    display:flex;
    overflow: visible !important;
    @media (max-width:800px){
        display:none;
    }
    
 
    
   
   &__nav{
       
       width:270px;
       height:100vh;
       overflow-y: scroll;
       position: relative;
       background-color: #301a96;
       color:#fff;
       &::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
      &::-webkit-scrollbar-track {
        
        border-radius: 10px;
      }
      
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #4f35c2a1;
        border-radius: 10px;
      }
       .admindash__cancel{
           position: absolute;
           right:20px;
           top:20px;
           display:none;
       }
       ul{
           margin-top:80px;
           margin-left:0;
           padding-left:20px;
           @media screen and (max-width:600px) {
            padding-left: 10px;
            
           }
           .active{
            background-color: #6857b357;
           }
           li{
               text-decoration: none;
               list-style: none;
               margin-top:0px;
               cursor:pointer;
               display:block;
               width:170px;
               height:50px;
               position:relative;
               border-radius: 30px;
               
               &:hover{
                background-color: #6857b357
               }
               @media screen and (max-width:600px) {
                   font-size: 11px !important;
                   width: 100px;
                   height:30px;
               }
               
               p{
                   font-weight: 600;
                   font-size: 18px;
                   padding:7px 30px;
                   padding-top:12px;
                   @media screen and (max-width:600px) {
                    font-size: 14px !important;
                    padding:4px 20px;
                    
                }
               }
           }
       }
   }
   .nav__showing{
    transform: translateX(0);
    transition: .2s;
    width:calc(100% - 0px);
  
   }
   .nav__hiding{
    transform: translateX(-0px);
    transition: .2s;
    width:100%;
  
    
    }
   
   &__body{
      
       height:100vh;
       position: relative;
       overflow-y: scroll;
       background-color: #f7f7f7;
      
       &::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
      &::-webkit-scrollbar-track {
        
        border-radius: 10px;
      }
      
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: gray;
        border-radius: 10px;
      }
       .admindash__menu{
           position: absolute;
           top:20px;
           left:20px;
           cursor:pointer;
          
       }
       .logo{
           width:30px;
           position:absolute;
           right:22px;
           top:14px;
       }
      
   }
     .tag__box{
        position: absolute;
        display:grid;
        place-content:center;
        top:0px;
        left:0px;
        bottom:0px;
        overflow:hidden;
        width:calc( 100% );
        margin:0;
        padding:0;
        opacity: .999;
        height:calc(100vh + 35px);
        
        background-color:#adb1b6f8;
     
       
        .tag{
            background-color: white;
            position:absolute;;
            width:250px;
            max-width:calc(100% - 80px) !important;
            justify-self:center;
            //height:100px;
            min-height: 130px;
            padding:10px;
            padding-bottom:20px;
            z-index: 99;
            margin:0px 30px;
            transform: translateY(70px) translateX(-7px);
            border-radius: 20px;
            opacity:1 ;
            animation: show .2s ease-in 1;
            @keyframes show {
                from {
                    transform: translateY(-360px);
                }
                to{
                     transform:  translateY(-70px);
                }
            }
            .tag__cancel{
                position:absolute;
                right:10px;
                cursor:pointer;
            }
            h4{
                color:black;
                margin-top:0px;
                font-weight: 700;
                text-align: center;
                font-size: 16px;
            }
            p{
                color:red;
                text-align: center;
                font-size: 13px;
                margin-top:20px;
                font-weight: 600;
            }
            .proceed{
                background-color: rgb(230, 51, 51);
                color:#fff;
            }
            .storeandsocial{
                background-color: #301a96;
                color:#fff;
            }
            input{
                padding:13px;
                width:calc(100% - 26px);
                margin:auto;
                margin-top:10px;
                outline:none;
                border-radius:10px;
                border:none;
                background-color: #f5f5f5;
            }
            button{
                background-color: #f5f5f5;
                //#f5f5f5
                color:#81848d;
                padding: 13px;
                border:none;
                border-radius: 10px;
                margin:auto;
                display:block;
                width:100%;
                margin-top:10px;
                &:hover{
                    background-color: #301a96;
                    color:#fff;
                    transition: .2s;
                }
            }
            .proceed:hover {
                background-color: rgb(207, 38, 38);
            } 
            .cancel:hover{
                background-color:  #dddddd;
                color:#81848d;
                //#8272ca
            }
            .mechanic__details{
                display:flex;
                justify-content:space-between;
                padding:10px 0px;
                h3{
                    font-size:14px;
                    font-weight:600;
                    margin:0;
                }
                p{
                    color:black;
                    margin:0;
                    font-weight:500;
                    font-size:12px;
                    padding:0;
                    display:flex;
                    span{
                        margin-top:02px;
                    }
                }
            }
           
            .pro , .rating , .ref{
                display:flex;
                justify-content:space-between;
                padding:5px 0px;
                
                h3{
                    font-size:14px;
                    font-weight:600;
                    margin:0;
                }
                p{
                    color:0;
                    padding:0;
                }

            }
           
            .reverse{
                transition:.4s;
                transform:rotate(180deg)
            }
            .pro{
                margin-top:30px;
            }
            .mechanic__rates{
                 margin:0;
                 display:none;
                 transition:2s;
                 margin:15px 0px;
                div{
                    display:flex;
                    justify-content:space-between;
                    margin:0;
                    margin-top:10px;
                    h3{
                          font-size:12px;
                          font-weight:500;
                          margin:0;
                    }
                    p{
                        color:black;
                        margin:0;
                        display:flex;
                         font-size:12px;
                        span{
                            margin-top:1px;
                        }
                    }
                }
            }
              .profile{
                 margin:0;
                 display:none;
                 transition:2s;
                 margin:15px 0px;
                div{
                    display:flex;
                    justify-content:space-between;
                    margin:0;
                    margin-top:10px;
                    h3{
                          font-size:12px;
                          font-weight:600;
                          margin:0;
                    }
                    p{
                        color:black;
                        margin:0;
                        display:flex;
                        font-weight:400;
                         font-size:12px;
                        span{
                            margin-top:2px;
                        }
                    }
                }
            } 
             .references{
                display:none;
                margin:15px 0px;
               p{
                font-size:12px;
                font-weight:500;
                margin:0;
                margin-top:10px;
                color:black ;
                text-align:left;
               }
            } 
            .open{
                display:block;
                transition:2s;
            }
        }
    } 
    .mechanics{
       padding-top:30px !important;
       padding-bottom:30px !important;
    } 
  
 
 
   
}
.nav__hide{
    transition:display .2s;
    transform: translateX(-230px);
    display: none;
    
    
   
}
.nav__show{
 transition: .2s;
 transform: translateX(0px);
  
}