.admindash__main{
    margin-top: 80px;
    padding:0px;
   
   .chart__details{
       display:grid;
       grid-template-columns: 3fr 1fr;
       grid-gap:20px;
       width:calc(100% - 40px);
       padding: 20px;
       padding-bottom:30px;
       
       
     
   } 
   .current__event{
       width:calc(100% - 40px);
       background:#fff;
       display:grid;
       grid-column: 1/2;
       padding:20px;
       border-radius:5px;
       .row{
           display:grid;
           grid-template-columns:3fr 3fr 3fr 1fr;
         // display:flex;
         // justify-content: space-between;
           h3{
               font-weight: 600;
           }
           p{
               font-weight: 500;
               cursor:pointer;
           }
           button{
               width:80px;
               height:30000px;
               outline:none;
               background:#e3242b;
               color:#fff;
               border:None;
               border-radius:5px;
               float:right;
               margin-top:10px;
               cursor:pointer;
           }
       }
      
   }
   .admindash__weekly{
        background-color: #fff;
        display:grid;
        grid-column: 2/3;
        width:calc(100% - 40px);;
        //margin-left:22px;
        padding:20px;
        //float: right;
       // margin-right:25px;
       // margin-top:20px;
       // margin-bottom:50px;
        border-radius: 5px;
        overflow:hidden;
        @media screen and (max-width:400px){
            width:calc(100% - 95px);
            margin-bottom: 400px;
        }
        .daily__tab{
            animation-duration: .3s;
            animation-timing-function: ease-out;
            animation-iteration-count: 1;
          
             @keyframes show1 {
                 from {
                     transform: translateX(50px);
                 }
                 to{
                     transform:translateX(0px);
                 }
             }
        }
       .weekly__tab{
            animation-duration: .3s;
            animation-timing-function: ease-out;
            animation-iteration-count: 1;
          
             @keyframes show2 {
                from {
                    transform: translateX(-50px);
                }
                to{
                    transform:translateX(0px);
                }
             }
        }
        &__content{
            display:flex;
            justify-content: space-between;
            p{
                font-weight: 600;
                font-size: 16px;
            }
        }
        .heading{
            display:flex;
            justify-content:space-around;
            cursor:pointer;
            .activated{
                opacity: .4;
            }
        }
    }
    .admindash__overview{
        background-color: transparent;
         display:flex;
         flex-wrap: wrap;
        // justify-content: space-between;
         margin: 20px 3px;
         margin-top:100px;
         @media screen and (max-width:600px){
             justify-content: center;
         }
       

        div{
            width:200px;
            height:70px;
            padding:10px;
            margin-left:20px;
            margin-right:70px;
            border-radius: 5px;
            color:#fff;
            display:grid;
            place-content:center;
            
            margin-bottom:20px;
            p{
                font-size: 15px;
                
                font-weight: 600;
                margin:0;
            }
            h4{
                font-size:30px;
                text-align: center;
                font-weight: 600;
                margin:0;
                margin-top:0px;
            }
        }
        .total__orders:nth-child(3){
            background-color: rgba(210, 105, 30, 0.349);
            color: chocolate;
        }
        .total__orders:nth-child(1){
            background-color:rgba(153, 50, 204, 0.5);
            color:rgba(153, 50, 204, 9.5);
        }
        .total__orders:nth-child(2){
            background-color: rgba(255, 140, 0, 0.39);
            color:darkorange;
        }
        .total__orders:nth-child(4){
            background-color: rgba(137, 43, 226, 0.404);
            color:blueviolet;
        }
        .total__orders:nth-child(5){
            background-color:rgba(153, 50, 204, 0.5);
            color:rgba(153, 50, 204, 9.5);
        }
    }
    .manage_staff{
        display:grid;
        grid-template-columns: 3fr;
        padding:0px 20px;
      
       
        .payroll_details{
            display:flex;
            justify-content:space-between;
            h4{
                margin-top:50px;
                font-size: 14px;
                display:flex;
                align-self: center;
            }
    
            .update_details{
                border:none;
                outline:none;
                padding:8px;
                background-color:#301a96;
                display:flex;
                align-self: center;
                margin-top:30px;
                color:#fff;
                font-size: 12px;
                // display:block;
                // float:right;
        
                
            }
        }
       
        .bank_details{
            background-color:#fff;
            border-bottom:1px solid rgba(0, 0, 0, 0.26); 
            display:grid;
            grid-template-columns:3fr 4fr;
            grid-gap:2px;
            grid-gap: 10px;
            padding:19px 15px;
            align-items: center;
            margin:0px 0px; 
            h4{
                margin:0;
                font-size:13px;
                font-weight: 700;
            }
            p{
                font-size: 12px;
                font-weight:600;
                margin:0;
            }
        }
        .staff_details{
            display:grid;
            grid-template-columns: 1fr  1fr;
            grid-gap:10px;
            margin-right:0px;
        }
        .payroll_acc{
            margin-left:10px;
            margin-top:-45px;
            margin-bottom:30px;
            .header{
                margin-bottom:7px;
            }
        }
        .staff_unit{
            padding:10px;
            display:grid;
            grid-template-columns:1fr 1fr;
            align-items: center;
            margin:10px 0px;
            border-bottom:3px solid #f7f7f7;
            background-color:white;
            h4{
                text-align: left;
                font-weight: 700;
                font-size: 13px;
                margin:0;
                margin-top:10px;
     
            }
            p{
                margin:0;
                font-size: 12px;
                margin-top:10px;
                font-weight:600;
            }
            .suspend{
                border:none;
                outline:none;
                width:calc(90px - 10px);
                padding:5px;
                margin-top:10px;
                border-radius:7px;
                background-color:rgb(247, 58, 25);
                color:#fff;
            }
        }
       .bonus{
          // border-radius:8px;
           background-color:#fff;
           border-bottom:1px solid rgba(0, 0, 0, 0.26); 
           display:grid;
           grid-template-columns:2fr 2fr 1fr;
           grid-gap:2px;
           grid-gap: 10px;
           padding:20px 15px;
           align-items: center;
           margin:0px 0px; 
           p{
               text-align: left;
               font-weight: 600;
               font-size: 14px;
               color:#301a96;
               margin:0;
           }
           h5{
               text-align:right;
               font-size: 14px;
               margin:0px;
               color:#444;
           }
           h4{
               text-align: center;
               font-size: 12px;
               margin:0;
           }
       }
       
    //    .tag__box{
    //     position: absolute;
    //     display:grid;
    //     place-content:center;
    //     top:0px;
    //     left:0px;
    //     bottom:0px;
    //     overflow:hidden;
    //     width:calc( 100% );
    //     margin:0;
    //     padding:0;
    //     opacity: .999;
    //     height:calc(100vh + 35px);
        
    //     background-color:#adb1b6f8;
     
       
    //     .tag{
    //         background-color: white;
    //         position:absolute;;
    //         width:250px;
    //         max-width:calc(100% - 80px) !important;
    //         justify-self:center;
    //         //height:100px;
    //         min-height: 130px;
    //         padding:10px;
    //         padding-bottom:20px;
    //         z-index: 99;
    //         margin:0px 30px;
    //         transform: translateY(70px) translateX(-7px);
    //         border-radius: 20px;
    //         opacity:1 ;
    //         animation: show .2s ease-in 1;
    //         @keyframes show {
    //             from {
    //                 transform: translateY(-360px);
    //             }
    //             to{
    //                  transform:  translateY(-70px);
    //             }
    //         }
    //         .tag__cancel{
    //             position:absolute;
    //             right:10px;
    //             cursor:pointer;
    //         }
    //         h4{
    //             color:black;
    //             margin-top:3px;
    //             font-weight: 700;
    //             text-align: center;
    //             font-size: 16px;
    //         }
    //         p{
    //             color:red;
    //             text-align: center;
    //             font-size: 13px;
    //             margin-top:20px;
    //             font-weight: 600;
    //         }
            
    //         .storeandsocial{
    //             background-color: #301a96;
    //             color:#fff;
    //         }
    //         input{
    //             padding:13px;
    //             width:calc(100% - 26px);
    //             margin:auto;
    //             margin-top:10px;
    //             outline:none;
    //             border-radius:10px;
    //             border:none;
    //             background-color: #f5f5f5;
    //         }
    //         button{
    //             background-color: #f5f5f5;
    //             //#f5f5f5
    //             color:#81848d;
    //             padding: 13px;
    //             border:none;
    //             border-radius: 10px;
    //             margin:auto;
    //             display:block;
    //             width:100%;
    //             margin-top:10px;
               
    //         }
    //         .suspend{
    //             background-color:red;
    //             margin-top:20px;
    //             &:hover{
    //                 background-color: rgb(199, 6, 6);
    //                 color:#fff;
    //             }
    //         }
    //         .cancel{
    //             background-color: gray;
    //             &:hover{
    //                 background-color: rgb(102, 101, 101);
    //                 color:#fff;
    //             }
    //         }
    //         .select{
    //             background:#f5f5f5;
    //             border:none;
    //         }          
    //      }
    //   }    
    // }
    
    // .cut{
    //     height:100vh;
    //     overflow:hidden;
    // }
    }
    .tag__box{
        position: absolute;
        display:grid;
        place-content:center;
        top:0px;
        left:0px;
        bottom:0px;
        overflow:hidden;
        width:calc( 100% );
        margin:0;
        padding:0;
        opacity: .999;
        height:calc(100vh + 35px);
        
        background-color:#adb1b6f8;
     
       
        .tag{
            background-color: white;
            position:absolute;;
            width:250px;
            max-width:calc(100% - 80px) !important;
            justify-self:center;
            //height:100px;
            min-height: 130px;
            padding:10px;
            padding-bottom:20px;
            z-index: 99;
            margin:0px 30px;
            transform: translateY(70px) translateX(-7px);
            border-radius: 20px;
            opacity:1 ;
            animation: show .2s ease-in 1;
            @keyframes show {
                from {
                    transform: translateY(-360px);
                }
                to{
                     transform:  translateY(-70px);
                }
            }
            .tag__cancel{
                position:absolute;
                right:10px;
                cursor:pointer;
            }
            h4{
                color:black;
                margin-top:0px;
                font-weight: 700;
                text-align: center;
                font-size: 16px;
            }
            p{
                color:red;
                text-align: center;
                font-size: 13px;
                margin-top:20px;
                font-weight: 600;
            }
            .proceed{
                background-color: rgb(230, 51, 51);
                color:#fff;
            }
            .cancel_action{
                background-color: #301a96;
                color:#fff;
            }
            .confirm_action{
                background-color: #f7f7f5;
                color:#fff;
            }
            input{
                padding:13px;
                width:calc(100% - 26px);
                margin:auto;
                margin-top:10px;
                outline:none;
                border-radius:10px;
                border:none;
                background-color: #f5f5f5;
            }
            button{
                background-color: #f5f5f5;
                //#f5f5f5
                color:#81848d;
                padding: 13px;
                border:none;
                border-radius: 10px;
                margin:auto;
                display:block;
                width:100%;
                margin-top:10px;
                &:hover{
                    background-color: #301a96;
                    color:#fff;
                    transition: .2s;
                }
            }
            .proceed:hover {
                background-color: rgb(207, 38, 38);
            } 
            .cancel:hover{
                background-color:  #dddddd;
                color:#81848d;
                //#8272ca
            }
            .mechanic__details{
                display:flex;
                justify-content:space-between;
                padding:10px 0px;
                h3{
                    font-size:14px;
                    font-weight:600;
                    margin:0;
                }
                p{
                    color:black;
                    margin:0;
                    font-weight:500;
                    font-size:12px;
                    padding:0;
                    display:flex;
                    span{
                        margin-top:02px;
                    }
                }
            }
           
            .pro , .rating , .ref{
                display:flex;
                justify-content:space-between;
                padding:5px 0px;
                
                h3{
                    font-size:14px;
                    font-weight:600;
                    margin:0;
                }
                p{
                    color:0;
                    padding:0;
                }

            }
           
            .reverse{
                transition:.4s;
                transform:rotate(180deg)
            }
            .pro{
                margin-top:30px;
            }
            .mechanic__rates{
                 margin:0;
                 display:none;
                 transition:2s;
                 margin:15px 0px;
                div{
                    display:flex;
                    justify-content:space-between;
                    margin:0;
                    margin-top:10px;
                    h3{
                          font-size:12px;
                          font-weight:500;
                          margin:0;
                    }
                    p{
                        color:black;
                        margin:0;
                        display:flex;
                         font-size:12px;
                        span{
                            margin-top:1px;
                        }
                    }
                }
            }
              .profile{
                 margin:0;
                 display:none;
                 transition:2s;
                 margin:15px 0px;
                div{
                    display:flex;
                    justify-content:space-between;
                    margin:0;
                    margin-top:10px;
                    h3{
                          font-size:12px;
                          font-weight:600;
                          margin:0;
                    }
                    p{
                        color:black;
                        margin:0;
                        display:flex;
                        font-weight:400;
                         font-size:12px;
                        span{
                            margin-top:2px;
                        }
                    }
                }
            } 
             .references{
                display:none;
                margin:15px 0px;
               p{
                font-size:12px;
                font-weight:500;
                margin:0;
                margin-top:10px;
                color:black ;
                text-align:left;
               }
            } 
            .open{
                display:block;
                transition:2s;
            }
        }
    } 
   
  
    
}

.fit_height{
    height:10000vh !important;
    overflow:hidden;
}