.Admin{
    padding:0px 10px;
    padding-bottom:50px;
    background-color: #f7f7f7;
    min-height: 100vh;
    a{
        text-decoration: none;
        color:inherit;
    }
    &__heading{
        display:grid;
        grid-template-columns: repeat(1fr , 3);
        align-items: center;
        border-bottom: 1px solid #dedede;
        padding-bottom:10px;
        margin-bottom:30px;
        height:40px;
        h5{
            grid-column: 2/3;
            font-size: 14px;
            margin-right:20px;
        }
        div{
            grid-column: 1/2;
            cursor: pointer;
            margin-right:auto;
        }
    }
    .tabs{
        display:grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        padding:0px 10px;
        p{
            font-weight: 500;
            font-size: 14px;
            width:129px;
            padding-bottom:10px;
        }
        .manage{
            
            border-bottom: 3px solid #301a96;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            text-align: right;
            margin-right:auto;
        }
        .create{
            text-align: left;
            margin-left:20px;
        }
    }
    h3{
       text-align: center;
       font-size: 17px;
       
       margin-bottom:50px;
    }
    .fill{
        grid-column: 1/3;
    }
    select{
        width: calc( 100% + 0px);
        height:50px;
        font-size: 14px;
        font-weight: 500;
        background-color: #fff;
        border:none;
        padding:0px 10px;
        outline:none;
        border-radius: 8px;
    }
    &__cards{
         display:grid;
         grid-template-columns: 1fr 1fr;
         grid-gap:5px;
         
        .Admin__card{
            width:calc(100% - 20px);
            height:80px;
            padding:10px;
            background-color: #fff;
            border-radius: 0px;
            h5{
                opacity: .28;
                margin:0;
                margin-top:15px;
            }
            h2{
               font-size: 20px;
               margin:0;
               margin-top:10px;
            }
        }
        .btn{
            display:grid;
            place-content: center;
            height:30px ;
            h5{
                margin:0;
                opacity: 1;
            }
        }
        .create_sub{
            background-color: #301a96;
            color:#fff;
            transition: .1s;
            &:hover{
                opacity: .8;
            }
        }
        .subs{
            background-color: lightgreen;
            opacity: 1;
            color:#fff;
            transition: .1s;
            &:hover{
                opacity: .8;
            }
            h5{
                opacity: 1;
            }
        }
    }

    h4{
        margin-top:40px;
    }

}

