.main{
    position: relative;
    width:100%;
    overflow-x: hidden;
    max-width:350px;
    height:100vh;
    margin:0 0px;
    margin:auto;
    
    background: #fff;
    font-family: 'Mulish', sans-serif;
    
    /** #492f70 #f9f9f9 #282828 #9684ad #e3dfe8 */
  
}