.payments{
    padding:10px;
    padding-bottom:100px;
    animation: show__payments .1s ease-in 1;
    @keyframes show__payments {
        from{
           transform:scale(1) translateX(40px);
        }
        to{
            transform: scale(1) translateX(0px);
        }
    }
    a{
        text-decoration: none;
        color:inherit;
    }
    &__links{
      
        @media(min-width:400px){
            height: calc(100vh - 300px);
            overflow-y:scroll;
            overflow-x:hidden;
        }
    }
    &__heading{
      font-weight: 800;
      font-size: 14px;
      border-bottom: 1px solid #dedede;
      padding-bottom:10px;
      text-align: center;
    }
    &__friends{
        display:grid;
        grid-template-columns: 1fr 70px;
        border-top: .5px solid rgba(0,0,0,0.1);
        border-left: .5px solid rgba(0,0,0,0.1);
        box-shadow: 1px 2px 5px -2px rgba(0,0,0,0.3);
        border-radius: 5px;
        align-items: center;
        padding:4px 10px;
        margin-top:30px;
        margin-bottom: 40px;
    }
    &__message{
        h5{
            line-height: 0px;
            font-size: 14px;
        }
        p{
            line-height: 0px;
            font-size: 11px;
            color:#a39797;
            transform: translateY(-6px);
        }
    }
    button{
        background-color:#301a96  ;
        color:#fff;
        padding: 5px 0px;
        font-size: 14px;
        border:none;
        border-radius: 5px;
        /* #41d546d3 #492f70*/
    }
}