.app{
  width:100%;
  height:100vh;
  padding:0;
  margin:0;
  box-sizing: border-box;
  background-color:#492f70;
  background:#444444;
  
}
@media(max-width: 400px){
 .app{
  background:#fff;
  width:100%;
  overflow-x: hidden;
 }
}
