.Sales{
    padding:0px 10px;
    &__heading{
        display:grid;
        grid-template-columns: repeat(1fr , 3);
        align-items: center;
        border-bottom: 1px solid #dedede;
        padding-bottom:10px;
        margin-bottom:50px;
        height:40px;
        h5{
            grid-column: 2/3;
            font-size: 14px;
            margin-right:20px;
        }
        div{
            grid-column: 1/2;
            cursor: pointer;
            margin-right:auto;
        }
    }
    .sale{
         background-color: #301a96;
         display:grid;
         grid-template-columns:3fr 1fr;
         padding:20px 10px;
         border-radius: 7px;
         align-items: center;
         
         h1{
             font-weight: 900;
             font-size: 28px;
             margin:0;
             line-height: 23px;
             margin-right:20px;
             color:rgb(4, 192, 255);
         }
         p{
             margin:0;
             font-size: 13px;
             color:greenyellow;
             margin-top:5px;
         }
        img{
            width:150%;
            object-position: bottom;
            transform:translateY(0px) translateX(-30px);
        }
    }
    .share{
        border-top: .5px solid rgba(0,0,0,0.1);
        border-left: .5px solid rgba(0,0,0,0.1);
        box-shadow: 1px 2px 5px -2px rgba(0,0,0,0.3);
        border-radius: 5px;
        padding:10px;
        display:grid;
        grid-template-columns: 7fr 1fr;
        align-items: center;
        margin-top:20px;
        p{
            font-size: 14px;
            font-weight: 600;
        }
        div{
            margin-left:auto;
        }
    }
    &__made{
        display:grid;
        grid-template-rows: 1fr 1fr;
        border-top: .5px solid rgba(0,0,0,0.1);
        border-left: .5px solid rgba(0,0,0,0.1);
        box-shadow: 1px 2px 5px -2px rgba(0,0,0,0.3);
        border-radius: 5px;
        margin-top:20px;
        padding:20px 10px;
     
        padding-bottom:15px;
        align-items: center;
        .heading{
            display:grid;
            height:30px;
            grid-template-columns: 20px 4fr 1fr ; 
            align-items: center;
            transform: translateY(-15px);
           
            h4{
                margin:0;
                text-align: left;
                margin-left:10px;
                font-weight: 800;
            }
            p{
                font-size: 12px;
                color:#301a96;
                text-align: right;
                margin-bottom:20px;
                font-weight: 700;
                
            }
            .link{
                background: rgb(4, 192, 255);
                display:grid;
                place-content: center;
                border-radius: 50%;
                width:25px;
                height:25px;
                margin-right:auto;
            }
            .arrow{
                margin-left:auto;
                select{
                    text-decoration: none;
                    border:none;
                    width:60px;
                    display:block;
                    margin-left:auto;
                    font-size: 12px;
                    color:#301a96;
                    background:transparent;
                    font-weight: 700;
                    outline:none;
                }
            }
           
        }
        p{
            margin:0;
            margin-top:0px;
            text-align: center;
            font-size: 12px;
            font-weight: 600;
            color:rgba(128, 128, 128, 0.582);
        }
    }
    
    .tag__box{
        position: absolute;
        display:grid;
        place-content: center;
        top:0px;
        left:0px;
        bottom:0px;
        overflow:hidden !important;
        width:calc( 100% );
        margin:0;
        padding:0;
        opacity: .999;
        height:100vh;
        
        background-color:#444444f1;
     
       
        .tag{
            background-color: white;
            max-width:calc(100% - 80px);
            width:160px;
            height: 80px;
            padding:10px;
            z-index: 99;
            margin:0px 30px;
            transform: translateY(-70px);
            border-radius: 20px;
            opacity:1 ;
            animation: show .2s ease-in 1;
            @keyframes show {
                from {
                    transform: translateY(-360px);
                }
                to{
                     transform:  translateY(-70px);
                }
            }
            p{
                color:black;
                margin-top:10px;
                font-weight: 700;
                text-align: center;
                font-size: 14px;
            }
            .icons{
                display:flex;
                justify-content: space-between;
                .link3{
                    img{
                        width:25px;
                        transform: translateY(3px);
                    }
                }
                .link2{
                    img{
                        width:30px;
                    }
                }
                .link1{
                    img{
                        width:35px;
                    }
                }
            }
           
        }
    }
 
    
}